<ion-view view-title="搜索">
  <ion-content>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-model="ctx.term" placeholder="图书名称或者ISBN" />
      </label>
      <button class="button button-clear button-dark" ng-click="show(0)">
        <i class="icon ion-search"></i>
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="book in books" ng-click="select(book)" href="#/app/book">
        <div class="item-text-wrap">
          <h2>{{book.name}}</h2>
          <br/>
          <p>{{book.rawAuthor}}</p>
          <p>
            {{book.rawPublish}}
            <span class="pull-right">{{book.idx}} / {{book.idxAll}}</span>
          </p>
        </div>
      </ion-item>
    </ion-list>

    <div class="item" ng-show="books.length">
      <div class="button-bar">
        <button style="border: 1px solid;" class="button button-positive icon-left ion-chevron-left"
          ng-click="prev()" ng-show="ctx.hasPrev">
          上一页
        </button>
        <button style="border: 1px solid;" class="button button-positive icon-right ion-chevron-right"
          ng-click="next()" ng-show="ctx.hasNext">
          下一页
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
