page-home {
  .circle {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 15px solid #f5f5f5;
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
  }
  .big-number {
    color: #00CC00;
    font-size: 66px;
    font-weight: bold;
    text-decoration: none;
  }
}
