<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>收藏</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col col-4 *ngFor="let book of books" text-center>
        <img class="thumbnail" src="{{getImage(book)}}" (click)="showBook(book)" />
        <p class="small">
          <ion-icon name="square-outline" *ngIf="!book.isCK"></ion-icon>
          <ion-icon name="checkbox-outline" color="secondary" *ngIf="book.isCK"></ion-icon>
          参考
          <ion-icon name="square-outline" *ngIf="!book.isPT"></ion-icon>
          <ion-icon name="checkbox-outline" color="secondary" *ngIf="book.isPT"></ion-icon>
          普通
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
